body {
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
}

.bloque1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton1:enabled{
    margin:8px;
    font-size: 16px;
    font-weight:600;
    padding: 8px;
    color: white;
    background-color: rgba(0, 128, 0, 0.573);
    border-radius: 16px;
    border: 4px solid gray;
}

.boton1:disabled{
    margin:8px;
    font-size: 16px;
    font-weight:600;
    padding: 8px;
    color: white;
    background-color: rgba(244, 5, 5, 0.655);
    border-radius: 16px;
}